
@import '~mdb-ui-kit/css/mdb.min.css';
body{
  font-family: "Poppins",sans-serif !important;
  margin: 0;
  padding: 0;
  font-size: 14px;
  background: #f6f6f6;
}

.nav-link a{
    color: #000;
}

.navbar-nav a{
  background-color: #0D47A1;
}

.navbar {
  background-color: #0D47A1;
}
.nav-item a{
  color: red;
}

.navba6 {
  background-color: #ffffff;
  }

  .navba6 a {
    color: #000;
    font-weight: 600;
    }

.navhead a {
 color: #5a5757;;
 text-decoration: none;
 font-size: 20px;
  padding: 25px 10px;

  display: block;
  font-weight: 600;
}

.header-topbar {
  background-color: #1A237E;
  padding: 10px 0;
}
.header-topbar-info p {
  font-size: 15px;
  margin-right: 10px;
  color: #fff;
}

.header-topbar-social a {
  font-size: 15px;
  color: #fff;
  margin-left: 15px;
}

.header-topbar-social a{
  /* text-align: end; */
  
}

.line a {
  padding: 5px 10px;
  /* text-align: end; */
  /* padding-ri: 10px; */
  
}

.images1{
    /* width: 500px; */
  background-color: #cccccc;
  height: 600px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.carousel-caption {
    background: #fff;
    padding: 45px 60px;
    /* padding-top: 45px; */
    /* padding-top: 40px; */
    position: absolute;
    right: 15%;
    bottom: 1.25rem;
    left: 15%;
    padding-top: -1.25rem;
    padding-bottom: 1.25rem;
    color: #000;
    text-align: left;
    width: 700px;

}

.back{
    height: 600px;
    color: red;
}

.carousel-caption h3{
    font-size: 50px;
    line-height: 1.2;
    font-family: "Rubik", sans-serif;
    color: var(--clr-body-heading);
    font-weight: 600;
}

.carousel-caption p{
    font-size: 18px;
  font-weight: 600;
  display: block;
  margin-bottom: 10px;
  text-transform: uppercase;
  color: #3b71ca;
  font-weight: 400;
}

.service-border:nth-child(2) {
    border-right: 0;
    border-bottom: 0;
    border-left: 0;
  }
  .service-border {
    border: 1px solid #ececec;
  }

  .bg-light {
    --bs-bg-opacity: 1;
    background-color: rgba(var(--bs-light-rgb),var(--bs-bg-opacity)) !important;
  }
  .row.g-0 {
    --bs-gutter-x: 0;
  }
  .row  {
    flex-shrink: 0;
    width: 100%;
    max-width: 100%;
    padding-right: calc(var(--bs-gutter-x) * .5);
    padding-left: calc(var(--bs-gutter-x) * .5);
    margin-top: var(--bs-gutter-y);

  }
  .pt-110 {
    padding-top: 110px;
  }

  .service-item {
    width: 100%;
    height: 100%;
    padding: 40px 40px 50px;
    position: relative;
    z-index: 5;
    overflow: hidden;
  }

  .service-content-title a{
    font-size: 28px;
    margin-bottom: 15px;
    text-decoration: none;
    color: #000000;
    font-family: 600;
  }
  .bg-light {
    --bs-bg-opacity: 1;
    background-color: #f7f7f7;
  }

  .service-content p {
    font-size: 16px;
    margin-bottom: 0;
    -webkit-transition: all 0.3s linear 0s;
    -moz-transition: all 0.3s linear 0s;
    -ms-transition: all 0.3s linear 0s;
    -o-transition: all 0.3s linear 0s;
    transition: all 0.3s linear 0s;
  }

  p {
    font-family: "Open Sans", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;
    color: #606164;
  }
  .service-icon svg{
    width: 80px;
    height: 80px;
    color:  #0d6efd;
    /* padding-top: 5px; */
    padding-bottom: 15px;
  }
  .service-section {
    background-color: #D9E9E9;
    height: 100%;
    width: 100%;
    padding: 50px 40px;
    display: grid;
    place-items: center;
  }
  .section-title {
    /* font-size: 46px; */
    font-weight: 600;
    line-height: 1.2;
    text-transform: capitalize;
  }
  .f-46 {
    font-size: 42px;
  }
  .section-subtitle {
    font-size: 18px;
    font-weight: 600;
    text-transform: uppercase;
    color: #14A44D;
    display: inline-block;
    margin-bottom: 10px;
  }
  .service-content-title {
    font-size: 20px;
    margin-bottom: 15px;
  }

   /* footer */
.bac{
    background-color: #262626;
    
  }
  .social1 {
    display: flex !important;
   
  }
  .social1 svg {
    color: #fff;
  }

.bac span{
    color: #fff;
    font-weight: 600;
  }

  .sociallinks h6{
    color: #ffffff;
    font-size: 20px;
    font-weight: 600;
  }

  .sociallinks p{
    color: #e7e4e4;
  }
  .smallfooter{
    background-color: #000000;
    color: #ffffff;
  }


  /* networkong */
  .networking {

    padding-top: 8rem;
  }


  .section-text {
    border-left: 10px solid #3B71CA;
   
    padding: 15px 25px;
    font-size: 18px;
    /* padding-left: 40px; */
    padding: 20px;
  }
  .backsection{
    background-color: #f7f7f7;
    padding-left: 40px;
  }
  .product-circle {
    display: flex;
    justify-content: space-between;
    padding-left: 40px;
    padding-top: 30px;
  }
  .product-circle-item {
    margin-right: 40px;
  }
  .product-circle-item svg {
    padding: 0;
  }
  svg.radial-progress {
    height: auto;
    max-width: 200px;
    padding: 1em;
    transform: rotate(-90deg);
    width: 100%;
    background-color: #0D47A1;
    padding-top:  15px;
    
  }

  svg.radial-progress circle.incomplete {
    opacity: 0.25;
  }
 
  svg.radial-progress circle {
    stroke-width: 5;
  }
  svg.radial-progress circle {
    fill: rgba(0,0,0,0);
    stroke: #fff;
    stroke-width: 10;
    background-color: #0D47A1;
    font-size: 50px;
  }
  svg.radial-progress text {
    fill: #3c4761;
    font-size: 16px;
  }
  svg.radial-progress text {
    fill: #fff;
    text-anchor: middle;
  }
  .product-item-title {
    font-size: 17px;
    padding-top: 12px;
    text-align: center;
    line-height: 1.3;
   
    color: #262626;
    font-weight: 600;
  }

  .product-wrapper-bg {
    background-color: #0D47A1
  }
  .inner-wrap {
    width: 100%;
    overflow: hidden;
    margin-left: auto;
  }
  .product-content {
    background: #0D47A1
  }
  .product-content {
    transform: translateX(calc((100% - 1290px) / 2));
  }

  .product-inner {
    display: flex;
    padding: 60px 0 60px;
    gap: 30px;
  }

  .product-item {
    background: #fff;
    padding: 30px 30px 25px;
    border-radius: 5px;
    text-align: center;
    width: 20%;
  }
  .product-icon {
    width: 75px;
    height: 75px;
    background: #ddd;
    text-align: center;
    border-radius: 50%;
    margin: auto;
    margin-bottom: auto;
    margin-bottom: 15px;
  }
  .product-icon svg{
    width: 50px;
    margin: auto;
    margin-bottom: auto;
    text-align: center;
    padding-top: 15px;
    color: #0D47A1;
  }
  


  /* Job Done */
  .jobdone {
    padding-top: 50px;
    padding-bottom: 50px;
  }

.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;

  /* Center slide text vertically */
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.autoplay-progress svg {
  --progress: 0;
  position: absolute;
  left: 0;
  top: 0px;
  z-index: 10;
  width: 100%;
  height: 100%;
  stroke-width: 4px;
  stroke: var(--swiper-theme-color);
  fill: none;
  stroke-dashoffset: calc(125.6 * (1 - var(--progress)));
  stroke-dasharray: 125.6;
  transform: rotate(-90deg);
}

.card img {
  width: 250px;
  height: 150px;
  padding-left: 80px;
  text-align: center;
}

.card h5{
  font-size: 25px;
  padding-top: 10px;
}

.jobdone h2{
  font-weight: 600;
  font-size: 40px;
}

/* SHORT PRODUCTS */

.short{
  padding-top: 70px;
}

.card1 {
  background-color: #D9E9E9;
  display: flex;
  flex-direction: column;
  min-width: 0;
  box-shadow: 0 13px 29px rgba(0, 0, 0, 0.05);
}

.card-title {
  font-size: 20px;
  font-weight: 600;
  text-align: center;
  padding-top: 50px;
}

.card-textprice {
  font-size: 30px;
  text-align: center;
  padding-bottom: 18px;
}

.card-title :hover{
  color: #1A237E;
}
.cartprice{
  background-color: #1A237E;
    /* width: 100%; */
    /* display: block; */
    padding-top: 11px;
    height: 40px;
    line-height: 40px;
    text-transform: uppercase;
    text-align: center;
    color: #ffffff;
    font-size: 12px;
  
  }
  

.cartprice h2{
  
   font-size: 18px;


}



.icon {
  vertical-align: middle;
  line-height: 1px;
  font-size: 20px;
  color: #ffffff;
  display: flex;
}

.icon1 {
  vertical-align: middle;
  line-height: 11px;
  font-size: 50px;
  color: #ffffff;
  /* padding-top: 30px; */
  text-align: center;
}
.icon_header {
  vertical-align: middle;
  line-height: 1px;
  font-size: 26px;
}
.icon, .icon_header {
  margin-right: 5px;
}

.close_icon {
  color: red;
  margin-left: 30px;
  margin-top: 10px;
  cursor: pointer;
}

.grid-container {
  display: grid;
  grid-template-columns: 260px 1fr 1fr 1fr;
  grid-template-rows: 0.2fr 3fr;
  grid-template-areas:
    'sidebar header header header'
    'sidebar main main main';
  height: 100vh;
}

.header-right {
  display: flex;
  padding-right: 50px;
}
/* Header  */
.header {
  grid-area: header;
  height: 70px;
  display: flex;
  background-color: #020259;
  align-items: center;
  justify-content: space-between;
  padding: 0 30px 0 30px;
  box-shadow: 0 6px 7px -3px rgba(0, 0, 0, 0.35);
}

.menu-icon {
  display: none;
}
/* End Header  */

/* Sidebar  */
#sidebar {
  grid-area: sidebar;
  height: 100%;
  background-color: #263043;
  overflow-y: auto;
  transition: all 0.5s;
  -webkit-transition: all 0.5s;
  width: 280px;
}

.sidebar-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 30px 0px 30px;
  margin-bottom: 30px;
}

.sidebar-title > span {
  display: none;
}

.sidebar-brand {
  margin-top: 15px;
  padding-right: 20px;
  font-size: 20px;
  font-weight: 700;
  color: #ffffff;
}

.icon_header{
  color: #ffffff;
  /* padding-left: 30px; */
  font-size: 30px;
  
}


.sidebar-list {
  padding: 0;
  list-style-type: none;
}

.sidebar-list-item {
  padding: 10px 50px 10px 50px;
  font-size: 18px;
  display: flex;

}


.sidebar-list-item:hover {
  background-color: rgba(255, 255, 255, 0.2);
  cursor: pointer;
}

.sidebar-list-item > a {
  text-decoration: none;
  color: #9e9ea4;
  padding-left: 10px;
 
}

.sidebar-responsive {
  display: inline !important;
  position: absolute;
  /*
    we want the z-index of the sidebar higher so that
    the charts are not showing over the sidebar 
    on small screens
  */
  z-index: 12 !important;
}

/* End Sidebar  */


/* Main  */  
.main-container {
  grid-area: main;
  overflow-y: auto;
  padding: 20px 20px;
  color: rgba(255, 255, 255, 0.95);
}

.main-title {
  display: flex;
  justify-content: space-between;
}

.main-cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 20px;
  margin: 15px 0;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 8px 15px;
  border-radius: 5px;
}

.card:first-child {
  background-color: #2962ff;
}

.card:nth-child(2) {
  background-color: #ff6d00;
}

.card:nth-child(3) {
  background-color: #2e7d32;
}

.card:nth-child(4) {
  background-color: #d50000;
}

.card-inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.card-inner > .card_icon {
  font-size: 25px;
}

.charts {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
  margin-top: 60px;
  height: 300px;
}

/* End Main  */

.dropbtn {
  /* background-color: #04AA6D; */
  color: white;
  padding: 16px;
  font-size: 18px;
  border: none;
  font-weight: 600;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {background-color: #ddd;}

.dropdown:hover .dropdown-content {display: block;}

.dropdown:hover .dropbtn {}



/* customer table */
.customertable {
  padding: 50px;
  /* width: 50em; */
  box-shadow: 0 1rem 3rem rgba(0,0,0,.175) !important;
}
/* Medium <= 992px */
label {
  font-size: 16px;
  font-weight: 600;
}


.list-group-item{
  font-size: 20px;
  font-weight: 600;
}
 
.list-group-item span {
  color: #d50000;
}


/* Gas bought style */

.userform{

  padding: 5%;
  padding-top: 20px;
  box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2), 0 9px 26px 0 rgba(0, 0, 0, 0.19);
}

.userform h1{
  font-size: 30px;
  font-weight: 600;
  color: rgba(0, 0, 0, .45) !important;
  padding-bottom: 5px;;
}
.btnSubmit {
  font-weight: 600;
  color: #fff;
  padding: 10px;
  background-color: #54B4D3;
  border-radius: 8px;
}

.items {
  display: flex;
  justify-content: space-between;
  margin: 10px;
  /* width: 200px; */
  height: 50px;
  border-radius: 2px;
  border: 1px solid #ede7f6;
  padding: 10px;
  align-items: center;
}
.items p{
  margin: 0px;
  font-size: 18px;
 font-weight: 600;
}
.items button{
  width: 30px;
  height: 30px;
  border-radius: 50%;
  padding: 2px;
  align-items: center;
  font-size: 15px;
  outline: none;
}

th{
  font-size: 15px;
  font-weight: 600;
}
.totalgas h2{
  font-size: 30px;
  font-weight: 600;
  color: #9FA6B4;
}
.totalgas span {
  color: #332D2D;
}

.userform h1{

  font-size: 22px;
  font-weight: 600;
}

.userform p{
  font-size: 18px;
  font-weight: 600;
  padding-top: 20px;
}

.userform h3{
  font-size: 18px;
  font-weight: 600;
  padding-top: 10px;
  text-align: center;
  color: #535455;
}

.userform th {
  font-size: 15px;
  color: rgba(0, 0, 0, .65) !important;
  font-weight: bold;
}

.userform td {
  font-size: 15px;
}

.btnSubmit1
{
  font-weight: 600;
  color: #fff;
  padding: 10px;
  text-align: center;
  background-color: #0062cc;
  border-radius: 8px;
  
}
.btnSubmit2
{
  font-weight: 600;
  color: #fff;
  padding: 10px;
  text-align: center;
  background-color: #386bc0;
  border-radius: 8px;
  
}

/* Gas Slide 6 */
.slide6 {
  width: 250px;
  /* height: 500px; */
}

.product-card img{
  height: 230px;
  width: 150px;
  margin: 0px auto;
}

.product-card12 img{
  height: 360px;
  width: 150px;
  margin: 0px auto;
}
.slide12{
  width: 250px;
  /* width: 550px; */
}

.slide12 img{
  height: 500px;
  /* width: 150px; */
}

.btnStep1 {
  font-family: OpenSans-SemiBold;
  font-size: 1.2rem;
  font-weight: 700;
  width: 15.5rem;
  height: 2.6rem;
  line-height: 4.5rem;
  background-color: #00B0FF;
  color: rgb(255, 255, 255);
  letter-spacing: 0px;
  white-space: pre;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  /* margin: 3rem 0.2rem 0.2rem; */
  /* padding: 0.2rem; */
  /* border-radius: 1rem; */
  z-index: 1;
  background-image: linear-gradient(270deg, rgb(13, 162, 255));
  cursor: pointer;
  border-radius: 5px;
  font-size: 14px !important;
  font-family: "Poppins";
  border: solid 1px rgba(0,0,0,.062745098) !important;
}

.btnprice{
  text-transform: uppercase;
  vertical-align: bottom;
  border: 0;
  box-shadow: 0 2px 5px 0rgba(0,0,0,.2),0 2px 10px 0 rgba(0,0,0,.1);
  padding: 0.625rem 1.5rem 0.5rem;
  font-size: 1rem;
  line-height: 1.5;
  background-color: #ffc107;
  color: #000000;
  font-weight: 600;
  width: 320px;
}


.product-card {
  background: #fff;
  border-radius: 15px;
  padding: 10px;
  position: relative;
}
.product-card12 {
  background: #fff;
  border-radius: 15px;
  padding: 10px;
  position: relative;
}

.gasscooker{
  padding-top: 5rem;

}

.gasscooker img{
  height: auto;
  width: auto;
  margin: 0px auto;
  max-width: 100%;
  max-height: 100%;
}

.rightbtn {
  justify-content: space-between !important;
  display: flex !important;
  padding: 10px;
  height: 50px;
  background-color: #f60;
  color: #ffffff;
  text-align: center;
  font-weight: 600;
  font-size: 20px;


}

.cylinder6kgs {
  justify-content: space-between !important;
  display: flex !important;
  padding-top: 10px;
}

.cyrefill{
  padding: 5px 15px !important;
  border-radius: 5px;
  font-size: 16px !important;
  font-family: "Poppins";
  border: solid 1px rgba(0,0,0,.062745098) !important;
  font-weight: 600;
  white-space: nowrap;
  background-color: #24221e !important;
  color: #ffffff !important;
}

.btnall {
  padding: 3px 15px !important;
  border-radius: 5px;
  font-size: 14px !important;
  font-family: "Poppins";
  border: solid 1px rgba(0,0,0,.062745098) !important;
  font-weight: 600;
  white-space: nowrap;
  /* background-color: #ffb100 !important; */
  color: #ffffff !important;
}

.title-border{
  font-size: 18px;
  font-weight: 700;
  margin-bottom: 0px;
  text-transform: uppercase;
  padding-right: 15px;
  line-height: normal;
  color: #ffffff;
}

.title-border:hover{
  font-size: 18px;
  font-weight: 700;
  margin-bottom: 0px;
  text-transform: uppercase;
  padding-right: 15px;
  line-height: normal;
  color: #ffffff;
}
/* image size */

.product-card1 img{
  height: 250px;
  padding-top: 60px;
}
/* End  of Gas bought  */


.cartX {
  color: red;
  font-size: 20px;
}

.sticky-header {
  position: sticky;
  top: 0;
  z-index: 50; /* Ensure it stays on top of other content */
  background-color: white; /* Optional: ensures header background is solid */
  border-bottom: 1px solid #e5e7eb; /* Optional: gives a subtle border */
}
.usernamex{
  font-size: 18px;
  font-weight: 600;
  text-transform: uppercase;
  padding-right: 50px;
}
.slidemenu{
  color: red;
  font-size: 30px;
}

.closeQ{
  font-size: 30px;
}

.sizeofcylinder b{
  font-size: 18px;
  font-weight: 600;
}

.sizeofcylinder span{
  font-size: 18px;
  font-weight: 600;
}

.referprogram {
  padding-top: 4px;
  background: #24221e;
  overflow: hidden;
  padding: 5em;
}

.referprogram h2{
  color: rgb(255, 255, 255);
  font-size: 44px;
  font-weight: 600;
  line-height: 52px;
 
}

.referprogram span{
  color: yellow;
}

.referprogram p{
  color: rgb(255, 255, 255);
  font-size: 24px;
  font-weight: 500;
  line-height: 32px;
  padding-top: 30px;
}

.pointButton{
  display: block;
  flex-shrink: 0;
  height: 40px;
  padding: 0 24px;
  outline: none;
  border-radius: 9999px;
  background-color: #f60;
  color: #fff !important;
  text-align: center;
  font-weight: 600;
  font-size: 20px;  
  line-height: 40px;
  cursor: pointer;
  
}
.contact-us {
  padding-bottom: 20px;
  height: 400px;
  background-image: url('../../../public/images/1.webp');
  background-size: cover;
  background-attachment: fixed;
  background-position: top left;
  background-repeat: no-repeat;
}

.backcorz {
  padding-top: 45px;
  /* padding-bottom: 20px; */
  height: 400px;
  background: linear-gradient(rgba(9,32,50,.5),rgba(9,32,50,.5));
}

.contact-us h2{
  color: #ffffff;
  font-size: 3rem;
  font-weight: 700;
  margin-bottom: 0;
  letter-spacing: 0.0025em;
  display: inline-block;
  line-height: 1;
  position: relative;
  z-index: 1;
  padding-top: 50px;
  line-height: 1.3;

}

.contact-us h3{
  color: yellow;
  font-size: 24px;
  font-weight: 700;
  line-height: 32px;
  padding-top: 30px;
}

.contant-card{
  padding: 3rem;
}
.contant-card h3{
      font-size: 23px;
      font-weight: 600;
}
.contant-card p{
  font-size: 20px;
  font-weight: 500;
}

.help-card{
  padding: 3rem;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  text-align: center;
}

.help-card img{
  text-align: center;
  width: 80px;
  height: 100px;
  padding-bottom: 20px;
}
.CardLayout {
  background: #fff;
  border-radius: 4px;
  border: 1px solid hsla(0,0%,100%,0);
  display: flex;
  flex-direction: column;
  min-height: 100%;
  padding: 24px 0 40px;
  position: relative;
  width: 92%;
  max-width: 300px;
}

.help{
  justify-content: space-between !important;
  display: flex !important;
  padding: 10px;
  height: 50px;
  background-color: #2B2A33;
  font-size: 18px;
  padding-left: 30px;
  padding-right: 40px;
}
.help p{
 color: #ffffff;
 font-weight: 600;
}

.registerbtn {
  background-color: #C62828;
  padding: 10px;
  color: #fff;
  font-size: 13px;
  font-weight: 600;
}

.cardx1 {
  width: 250px;
  background-color: #1C64F2;
  font-weight: 700;
  height: 160px;
  
}

.cardx2 {
  width: 250px;
  background-color: #F98080;
  color: #ffffff;
  font-weight: 700;
  height: 160px;
  

}
.cardx3 {
  width: 250px;
  width: 250px;
  background-color: #9061F9;
  color: #ffffff;
  font-weight: 700;
  height: 160px;
}


.card3 {
  width: 250px;
  /* padding-left: 35px; */

}
.card3x1{
  background-color:#FFB300;
  width: 350px;
  color: #ffffff;
  font-weight: 700;
  padding-left: 30px;
}

.card3x2{
  background-color:#54B4D3;
  width: 350px;
  color: #ffffff;
  font-weight: 700;
  padding-left: 30px;
}

.card3x3{
  background-color:#9FA6B2;
  width: 350px;
  color: #ffffff;
  font-weight: 700;
  padding-left: 30px;
}

.reciept h2{
  font-size: 20px;
  font-weight: 600;
  color: #747577;
}

.reciept h5{
  font-size: 17px;
  font-weight: 600;
  color: #747577;
}


.retailcash {
  width: 180px;
  background-color: #F98080;
  color: #ffffff;
  font-weight: 700;
  height: 110px;
  padding-top: 30px;
  padding-left: 15px;
  font-size: 20px;
}
.records {
  width: 160px;
  background-color: #F98080;
  color: #ffffff;
  font-weight: 700;
  height: 80px;
  padding-top: 30px;
  padding-left: 15px;
  font-size: 22px;
}

@media screen and (max-width: 992px) {
  .grid-container {
    grid-template-columns: 1fr;
    grid-template-rows: 0.2fr 3fr;
    grid-template-areas:
      'header'
      'main';
  }
  .header {
    padding-top: 30px;
  }
  #sidebar {
    display: none;
  }

  .menu-icon {
    display: inline;
  }

  .sidebar-title > span {
    display: inline;
  }
  .customertable {
    padding: 30px;
    width: 500px;
  }
  .contact-us h2{
    color: #ffffff;
    font-size: 2rem;
    font-weight: 700;
  
  }
  .contact-us h3{
    color: yellow;
    font-size: 20px;
    font-weight: 700;
  }
  .contact-us {
    padding-bottom: 10px;
    height: 350px;
   
  }
  
  .backcorz {
    padding-top: 10px;
    height: 350px;
    background: linear-gradient(rgba(9,32,50,.5),rgba(9,32,50,.5));
  }
  .contant-card{
    padding: 1rem;
  }
  .help-card img{
    text-align: center;
    width: 50px;
    height: 70px;
    padding-bottom: 20px;
  }
  .contant-card h3 {
    font-size: 20px;
    font-weight: 600;
  }
  .product-card img{
    height: 280px;
    width: 250px;
    margin: 0px auto;
  }
  
  .product-card12 img{
    height: 350px;
    width: 250px;
    margin: 0px auto;
  }
}
  
/* .customer{
  width: 1090px;
} */

@media screen and (max-width: 768px) {
  .main-cards {
    grid-template-columns: 1fr;
    gap: 10px;
    margin-bottom: 0;
  }

  .charts {
    grid-template-columns: 1fr;
    margin-top: 30px;
  }
  .customertable {
     width: 200px; 
    padding-left: 5px;
    padding-right: 5px; 
  }
 
  .main2 h1{
      font-size: 18px;
  }
  
}

/* Extra Small <= 576px */

@media screen and (max-width: 576px) {
  .hedaer-left {
    display: none;
  }
  .customertable {
    width: 200px; 
   padding-left: 50px;
   padding-right: 50px; 
 }

 .btnall {
  padding: 5px 15px !important;
  border-radius: 5px;
  font-size: 14px !important;
  font-family: "Poppins";
  font-weight: 600;
  white-space: nowrap;
  /* background-color: #ffb100 !important; */
  color: #ffffff !important;
}

.title-border{
  font-size: 15px;
  font-weight: 600;
  /* background: #f7f7f7; */
  margin-bottom: 0px;
  text-transform: uppercase;
  

}

.referprogram {
  /* padding-top: 2px; */
  background: #24221e;
  overflow: hidden;
  padding: 1em;
}

.referprogram h2{
  color: rgb(255, 255, 255);
  font-size: 25px;
  font-weight: 600;
  line-height: 32px;
 
}


.referprogram p{
  color: rgb(255, 255, 255);
  font-size: 18px;
  font-weight: 500;
  line-height: 22px;
  padding-top: 20px;
}

.pointButton{
  flex-shrink: 0;
  height: 30px;
  /* padding:  24px; */
  outline: none;
  border-radius: 9999px;
  background-color: #f60;
  color: #fff !important;
  text-align: center;
  font-weight: 600;
  font-size: 14px;
  line-height: 30px;
  cursor: pointer;
  
}

}